{% block mosparo_widget %}
    {% if mosparo.enabled -%}
    <div id="{{ id }}"></div>
    <script src="{{ mosparo.instance_url }}/build/mosparo-frontend.js" defer></script>
    <script>
      window.mosparoLayer = window.mosparoLayer || [];
      window.addEventListener('load', (event) => {
        mosparoLayer.push(new mosparo('{{ id }}', '{{ mosparo.instance_url }}', '{{ mosparo.uuid }}', '{{ mosparo.public_key }}', {{ mosparo.options|json_encode|raw }}));
      });
    </script>
    {%- endif %}
{% endblock %}

